
  








.card-group
{
margin-top: 40px



}



.div-der{

 background-image: url(../imagenes/honolulu.jpg);
 background-size: cover;
 height: 400px;

}

.div-izq{
background-color: aqua;
background-size: cover;
height: 400px;

}

.container {

text-align-last: center;


}




  .p {

    background text-align: right: height: height: ;
     Buenos Aires es la provincia y localidad mas grande de Argentina.
    LLega por primera vez, un evento para compartir con nuestra comunidad el conocimiento y experiencias de los expertos que estan creando el futuro de Internet.
  
  }











